[submodule "kronos"]
	path = kronos
	url = git@github.com:balonc/kronos.git
[submodule "crypto"]
	path = crypto
	url = git@github.com:balonc/crypto.git
[submodule "automata"]
	path = automata
	url = git@github.com:balonc/automata.git
